.container {
    max-width: 900px;

    margin: 0 auto;
    background: linear-gradient(white, #eaffdd, #ceeeff, white);
    padding:20px 0 0 20px;
    font-family: Courier New;
}

a {
    text-decoration: none;
    color:darkblue;
}

input {
    display: block;
    width: 50%;
}

textarea {
    display: block;
    width: 80%;
    height: 200px;
}

ul {
    text-align: center;
}

li {
    width: 200px;
    border-radius: 50% 20% / 10% 40%;
    background-color: rgb(177, 226, 228);
    margin: 30px 30px;
    text-decoration: none;
    list-style: none;
    vertical-align:middle;
    padding: 10px 0;

}

h2 {
    color: white;
    width: 850px;
    background-color: #88b5cd;
    border-left: solid 10px #d1dcae;
    padding-left: 20px;
}

button {
    background-color: rgb(177, 226, 228);
    border: none;
    cursor: pointer;
    font-size: 17px;
    color:darkblue;
    margin: 10px;
}


.mar {
    display: block;
    margin-top: 20px;
}

.name {
    font-size: 50px;
    padding-left: 40px;
    padding-bottom: 30px;
}

.titlemenu {
    display: flex;
    align-items: baseline;
}

.menu {
    margin-left: auto;
    margin-right: 30px;
}

.link {
    background-color: rgb(151, 188, 199);
    padding: 5px 20px 5px 0;

    border-radius: 20rem;
    text-align: center;
    display: inline-block;
}


img {
    max-height: 400px;
}

.img_top {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50% 20% / 10% 40%;
}

.contants {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    text-align: center;
}

.item {
    padding: 30px 0;
    width: 45%;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 15px auto;
}

.ranking {
    font-size: 20px;
    margin-top: 20px;
    color: chocolate;
}

.top_image {
  margin-bottom: 15px;
}

.contants_text {
    text-align: left;
}

.contants_text1 {
    background-color: rgb(220, 231, 198);
    padding: 5px 0;
    width:350px;
    margin: 0 auto;

}

.contants_text1 span{
    text-align: left;
    display: inline-block;
}

.contants_text2 {
    background-color: rgb(205, 231, 222);
    padding: 5px 0;
    height: 20px;
    width:350px;
    margin: 0 auto;

}

.contants_text3 {
    background-color: rgb(202, 207, 224);
    padding: 5px 0;
    height: 20px;
    width:350px;
    margin: 0 auto;
}

.contants_comment {
    background-color: rgb(225, 204, 220);
    padding: 5px 0;
    width:350px;
    margin: 0 auto;
}

.left {
    text-align: left;
}

.link-n {
    margin-bottom: 50px;
}

.show_manu {
    display: flex;
}

.show_manu > form, a {
    margin-left: 20px;
}

.edit {
    background-color: rgb(177, 226, 228);
    border: none;
    cursor: pointer;
    font-size: 17px;
    color:darkblue;
    margin: 10px;
    padding: 0 20px;
}


/* paginate */

.block {
    display: block;
    text-align: center;
}

